*{
    overflow: hidden;;
}

.page{
    background-color: rgb(32, 172, 197);
    height: 80vh;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    /* margin: 10px 10px 10px 10px; */
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.welcome{
    background: url("../resources/welcome.png");
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 100;
}

.btn-comenzar{
    margin-top: 60vh;
    margin-left: 65%;
    position:fixed;
    z-index: 100;
    width: 20%;
    cursor: pointer;
}